.Cart{
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    height: 100vh;
    z-index: 200;
    width: 340px;
    padding: 10px 20px;
    transition: .3s all ease-in-out;


}
.Cart.open{
    right: -400px;
}

.Cart.closed{
    right: 0;
}
.ContentTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ContentTop img{
    width: 30px;
    cursor: pointer;
}

.ProductsCart{
    margin-top: 50px;
    
}

.ProductCart{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.productImg{
    width: 33%;
    margin-right: 20px;
}
.productImg img{
    width: 100%;
    height: 100%;
}
.productInfo{
    font-size: 14px;
    color: #707070;
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}



.productInfo .name{
    font-size: 16px;
    font-weight: 500;
    color: #333333;

}
.productInfo .title{
    font-size: 12px;
}
.priceAndOptions{
    display: flex;
    justify-content: space-between;
}

.priceAndOptions .price{
    font-size: 16px;
    font-weight: 600;
}
.priceAndOptions img{
    width: 16px;
    height: auto;
    cursor: pointer;
}
.ButtonCheckout{
    position:absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0 20px;
}
.ButtonCheckout input{
    width: 80%;
    padding: 10px;
}

.ButtonCheckout button{
    width:100%;
    background-color: #262626;
    border: none;
    color: #ffffff;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 20px;
}