.FooterSection{

    background-color: #E7DFD9;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 20px 10px;

}

.FooterSection .FooterSocial{
    display: flex;
    justify-content: center;

}

.FooterSection .FooterSocial img{
    width: 32px;
    height: auto;
    margin: 5px;
    cursor: pointer;
}

.FooterSection .FooterCopy{
    text-align: center;
}

.FooterSection .FooterLegales{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.FooterSection .FooterLegales img{
    width: 200px;

}